.container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 6%;
}

.button {
    min-width: 200px;
    background-color: white;
    padding: 12px;
    text-decoration: none;
    color: #1a1a1a;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button span {
    flex-grow: 2;
    margin-left: 18px;
}