.container {
    padding-top: 6%;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
}

.viewAll {
    text-align: right;
    padding-top: 1rem;
}

.viewAll a {
    color: #1a1a1a;
    font-weight: 500;
}